table {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 40px;
}

td,
th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    background-color: dodgerblue;
}